@using Front_End.Components.Pages.Misc
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer
@using BuisnessLayer



<div class="border-2 flex w-full justify-between rounded-2xl border-white bg-black p-4 py-5">
	<div class="flex gap-3">
		<div class="flex flex-col gap-2 text-right font-bold text-white">
			<p>ID:</p>
			<p>Name:</p>
			<p>National No:</p>
			<p>Gender:</p>
			<p>Email:</p>
			<p>Address:</p>
		</div>
		<div class="flex flex-col gap-2 text-white">
			<p>@Person.ID</p>
			<p>@Person.FirstName @Person.SecondName @Person.LastName</p>
			<p>@Person.NationalNo</p>
			<p>@Person.Gendor</p>
			<p>@Person.Email</p>
			<p>@Person.Address</p>
		</div>
	</div>
	<div class="ml-5 mt-12 flex gap-3">
		<div class="flex flex-col gap-2 text-right font-bold text-white">
			<p>Birth:</p>

			<p>Phone:</p>

			<p>Country:</p>

		</div>
		<div class="flex flex-col gap-2 text-white">
			<p>@Person.DateOfBirth.ToString("mm/dd/yyyy")</p>
			<p>@Person.Phone</p>
			<p>@Person.CountryName</p>
		</div>
	</div>
</div>




@code
{
	[Parameter]
	public int? PersonID { get; set; }
	clsPeople Person;
	protected override void OnInitialized()
	{
		Person = clsPeople.Find(PersonID);
	}
}